.who-we-are {
	.bg-vw-mark-white {
		background-image: url('../../uploads/2022/07/VWF-mark.svg');
		background-size: 105%; 
		background-repeat: no-repeat; 
		background-position: right top;
		padding-bottom: 12rem;
		background-color: $lime-light;
		padding-top: 3rem;
		.container {
			.row {
				h3 {
					margin-bottom: 1.5rem;
				}
				&.last-of-type{
					padding-bottom: 3rem;
				}
			}
		}
	}
	.card {
		margin-bottom: 5rem;
		&.card--trustees {
			border: none;
			border-radius: 0;
			.card-image-wrapper {
				background-size: initial;
			    position: relative;
			    background-position: center;
			    overflow: hidden;
			    flex-shrink: 0;
			    z-index: 2;
			    background-color: transparent;
			    border-top-left-radius: 0;
				border-top-right-radius: 0;

				.card-image {
				    position: relative;

				    &::after {
					    display: none;
					}
				}
				img {
				    display: block;
				    height: initial;
				    position: relative;
				    object-fit: initial;
				}
			}

			.card-content {
				background-color: initial;
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
				padding: 0;
				.card-title {
					font-size: 24px;
					font-weight: 700;
					margin: 1.5rem 0 2.4rem;
				}
				p.card-excerpt {
					font-size: 16px;
				}
			}
		}
	}
}