.edit-post-meta-boxes-area #poststuff h2.hndle, .edit-post-meta-boxes-area #poststuff h3.hndle {
    box-sizing: border-box;
    color: inherit;
    font-weight: 500;
    outline: none;
    padding: 0 18px;
    position: relative;
    width: 100%;
}