.bg-vw-mark-white {
	background-image: url('../../uploads/2022/07/VWF-mark.svg');
	background-size: 105%; 
	background-repeat: no-repeat; 
	background-position: right top;
	padding-bottom: 12rem;
	padding-top: 3rem;
}

.bg-vw-mark-periwinkle {
	background-image: url('../../uploads/2022/07/vw-mark-news.svg');
	background-size: 105%; 
	background-repeat: no-repeat; 
	background-position: right top;
	padding-bottom: 12rem;
	padding-top: 3rem;
}

.bg-v-mark-rich-depth {
	background-image: url('../../uploads/2022/07/v-mark-rich-depth.svg');
	background-size: 60%; 
	background-repeat: no-repeat; 
	background-position: right -200px;
	padding-bottom: 12rem;
	padding-top: 3rem;
}