.wpcf7 {
	input, textarea {
		width: 100%;
		border: 1px solid $evergreen;
		margin-top: .25rem;
		margin-bottom: 1rem;
	}
	label {
		width: 100%;
	}

	input.wpcf7-form-control.has-spinner.wpcf7-submit {
	    width: auto;
	}
}

.wpcf7-form-control-wrap {
	input {
		width: 100%; 
		padding: 5px;
	}
}

.wpcf7-response-output.wpcf7-display-none.wpcf7-mail-sent-ok {

	border: none; 
	color: $white;
	font-size: 1.1em;
}

div.wpcf7-response-output {
    margin: 2.5em 0 1em;
    padding: 0;
    border: 2px solid $evergreen;
}