
//Base Colors
.txt-evergreen {
	color: $evergreen;
}
.txt-lime-dark {
	color: $lime-dark;
}
.txt-white-out {
	color: $white-out;
}

.bg-evergreen {
	background-color: $evergreen;
}

.bg-lime {
	background-color: $lime;
}
.bg-lime-light {
	background-color: $lime-light;
}

.bg-lime-dark {
	background-color: $lime-dark;
}

.bg-white-out {
	background-color: $white-out;
}

//Funding Colors
.txt-dark-red {
	color: $dark-red;
}

.txt-intense-red {
	color: $intense-red;
}

.bg-intense-red {
	background-color: $intense-red;
}

.bg-light-red {
	background-color: $light-red;
}
.bg-feature-header-light-red {
	background-color: $feature-header-light-red;
}

//News Colors
.txt-dark-periwinkle {
	color: $dark-periwinkle;
}
.txt-periwinkle {
	color: $periwinkle;
}
.bg-periwinkle {
	background-color: $periwinkle;
}
.bg-dark-periwinkle {
	background-color: $dark-periwinkle;
}
.bg-light-periwinkle {
	background-color: $light-periwinkle;
}
.bg-feature-header-light-periwinkle {
	background-color: $feature-header-light-periwinkle;
}

//Discover Colors
.txt-dark-stillness {
	color: $dark-stillness;
}
.txt-stillness {
	color: $stillness;
}

.bg-stillness {
	background-color: $stillness;
}
.bg-light-stillness {
	background-color: $light-stillness;
}
.bg-feature-header-light-stillness {
	background-color: $feature-header-light-stillness;
}

//RVW150 Colors
.txt-rich-depth {
	color: $rich-depth;
}

.bg-rich-depth {
	background-color: $rich-depth;
}
.bg-light-rich-depth {
	background-color: $light-rich-depth;
}
.bg-feature-header-light-rich-depth {
	background-color: $feature-header-light-rich-depth;
}

//Extras

.txt-white {
	color: $white;
}
.bg-white {
	background-color: $white;
}