
/* COLOURS */
$base-color: #6ec1e4;

$black: #000;
$lt-black: #1A1A1A;

$dk-grey: #B4B4B4;
$md-grey: #B4B4B4;
$lt-grey: #F2F2F2;

$grey: #40495b;
$white : #fff;
$blue: #1DACED;

//Base Colors
$evergreen: #214045;
$dk-green: #224146;
$dk-green-op-90 : rgba(34,65,70,0.9);
$lime: #BDB00F;
$lime-dark: #797117;
$lime-light: #F5F3DD;
$white-out: #A1970D;

//Funding Colors
$intense-red: #EF431A;
$dark-red: #BD3615;
$light-red: #FCE0DA;
$text-red: #E8431B;
$border-red: #EF431C;
$feature-header-light-red: #F27B62;

//News Colors
$periwinkle: #7F92C9;
$dark-periwinkle: #4A62B0;
$light-periwinkle: #D0D5E6;
$feature-header-light-periwinkle: #B2BFDE;

//Discover Colors
$stillness: #799993;
$light-stillness: #DEE7E5;
$dark-stillness: #4F6B66;
$feature-header-light-stillness: #B2C6C3;

//RVW 150 Colors
$rich-depth: #57173B;
$light-rich-depth: #E6DDE2;
$feature-header-light-rich-depth: #9A7389;

$base-link: #000;
$base-link-hover: #666;


/* FONT SIZES */ 
$ft-14: 14px;

$ft-20: 20px;

$ft-30-lg: 30px;
$ft-30-md: 26px;
$ft-30-sm: 23px;

$ft-40-lg: 40px;
$ft-40-md: 30px;
$ft-40-sm: 25px;

$ft-48-lg: 48px;
$ft-48-md: 34px;
$ft-48-sm: 28px;

$ft-52-lg: 52px;
$ft-52-md: 38px;
$ft-52-sm: 30px;

$ft-56-lg: 56px;
$ft-56-md: 40px;
$ft-56-sm: 33px;